@import "./tailwind.css";

body {
  font-family: "Montserrat", sans-serif;
}

.main-content {
  margin-top: 60px; /* altura del navbar */
  margin-left: 300px; /* ancho del sidebar fijo */
  padding: 20px;
  width: calc(100% - 300px);
}

/* wrapper interno centrado (ancho máximo del feed) */
.main-content__inner {
  max-width: 1400px;
  margin: 0 auto; /* centra el feed dentro del espacio libre */
}

.logo:hover {
  filter: brightness(0) saturate(100%) invert(41%) sepia(90%) saturate(399%) hue-rotate(335deg)
    brightness(92%) contrast(92%);
}

.etiquetas-container a {
  font-size: clamp(0.6rem, 1.2vw, 0.85rem); /* se adapta suavemente */
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  line-height: 1;
}

.etiquetas-container a {
  font-size: clamp(0.6rem, 1.2vw, 0.85rem);
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  transition:
    font-size 0.3s ease,
    padding 0.3s ease;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
}

/* scroll del sidebar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #6739e4;
  border-radius: 4px;
  border: 2px solid transparent;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #9569ff;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6739e4 transparent;
}

/* flechas de acordeón segun tema */
.faq-button.light::after {
  filter: invert(1); /* flecha negra */
}

.faq-button.dark::after {
  filter: invert(0); /* flecha blanca */
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* colocar contenido arriba y footer abajo */
}

.layout-content {
  flex: 1; /* este espacio crece para empujar el footer al fondo */
}

@media (max-width: 991.98px) {
  .main-content {
    margin-left: 0;
    width: 100vw;
  }
  .main-content__inner {
    max-width: 100%;
  }
}
